<!DOCTYPE.html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View-Pilot</title>
	</head>
	
	<body>
		<h1>Pilot </h1>
		<form th:action="@{/flight/add}" method="GET">
			<h3>Pilot License Number:</h3> 
			<p th:text="${pilot.licenseNumber}"></p>
			<h3>Name:</h3> 
			<p th:text="${pilot.name}"></p>
			<h3>Fly Hour:</h3> 
			<p th:text="${pilot.flyHour}"></p>
		</form>
		<div th:each="flight: ${listFlight}">
			<h2 th:text="'Flight Number : ' + ${flight.flight_number}"></h2>
			<h2 th:text="'Flight Destination : ' + ${flight.destination}"></h2>
			<h2 th:text="'Flight Origin : ' + ${flight.origin}"></h2>
			<h2 th:text="'Departure Time: ' + ${flight.time}"></h2>
		</div>
	</body>
</html>